<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>AutoMerge</key>
		<false/>
		<key>DSDT</key>
		<dict>
			<key>Fixes</key>
			<dict>
				<key>AddHDMI</key>
				<false/>
				<key>AddPNLF</key>
				<false/>
				<key>FixDarwin7</key>
				<false/>
				<key>FixHDA</key>
				<false/>
				<key>FixHPET</key>
				<true/>
				<key>FixIPIC</key>
				<true/>
				<key>FixLAN</key>
				<false/>
				<key>FixRTC</key>
				<true/>
				<key>FixTMR</key>
				<false/>
				<key>FixUSB</key>
				<false/>
				<key>FixWAK</key>
				<false/>
			</dict>
			<key>Patches</key>
			<array>
				<dict>
					<key>Comment</key>
					<string>Change (GPRW,2,N) to XPRW, SSDT-PRW.aml</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					R1BSVwI=
					</data>
					<key>Replace</key>
					<data>
					WFBSVwI=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Change (FANG,1,N) to XANG</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					RkFORwE=
					</data>
					<key>Replace</key>
					<data>
					WEFORwE=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Change (FANW,2,N) to XANW</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					RkFOVwI=
					</data>
					<key>Replace</key>
					<data>
					WEFOVwI=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Change (_TMP,0,S) to XTMP</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					X1RNUA==
					</data>
					<key>Replace</key>
					<data>
					WFRNUA==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Method(_Q11,0,N) to XQ11,optionally pair with SSDT-FN.aml</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					X1ExMQA=
					</data>
					<key>Replace</key>
					<data>
					WFExMQA=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Method(_Q12,0,N) to XQ12,optionally pair with SSDT-FN.aml</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					X1ExMgA=
					</data>
					<key>Replace</key>
					<data>
					WFExMgA=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change _DSM to XDSM</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					X0RTTQ==
					</data>
					<key>Replace</key>
					<data>
					WERTTQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change _OSI to XOSI, pair with SSDT-XOSI.aml</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					X09TSQ==
					</data>
					<key>Replace</key>
					<data>
					WE9TSQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change EHC1 to EH01, optionally pair with SSDT-EH01.aml</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					RUhDMQ==
					</data>
					<key>Replace</key>
					<data>
					RUgwMQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change EHC2 to EH02, optionally pair with SSDT-EH02.aml</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					RUhDMg==
					</data>
					<key>Replace</key>
					<data>
					RUgwMg==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change GFX0 to IGPU, optionally pair with SSDT-IGPU.aml</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					R0ZYMA==
					</data>
					<key>Replace</key>
					<data>
					SUdQVQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change B0D3 to HDAU, optionally pair with SSDT-HDAU.aml</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					QjBEMw==
					</data>
					<key>Replace</key>
					<data>
					SERBVQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Change LID0._PRW to LID0.XPRW</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					CF9QUlc=
					</data>
					<key>Replace</key>
					<data>
					CFhQUlc=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Change WMMX to WMMZ (remove WMMX method)</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					V01NWAM=
					</data>
					<key>Replace</key>
					<data>
					V01NWgM=
					</data>
				</dict>
			</array>
		</dict>
		<key>DropTables</key>
		<array>
			<dict>
				<key>Signature</key>
				<string>MATS</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>DMAR</string>
			</dict>
		</array>
		<key>FixHeaders</key>
		<false/>
		<key>SSDT</key>
		<dict>
			<key>DropOem</key>
			<false/>
			<key>Generate</key>
			<dict>
				<key>PluginType</key>
				<false/>
			</dict>
		</dict>
	</dict>
	<key>Boot</key>
	<dict>
		<key>Arguments</key>
		<string>-lilubetaall</string>
		<key>Debug</key>
		<false/>
		<key>DefaultVolume</key>
		<string>LastBootedVolume</string>
		<key>Legacy</key>
		<string>PBR</string>
		<key>Secure</key>
		<false/>
		<key>Timeout</key>
		<integer>3</integer>
		<key>XMPDetection</key>
		<false/>
	</dict>
	<key>BootGraphics</key>
	<dict>
		<key>#DefaultBackgroundColor</key>
		<string>0xF0F0F0</string>
	</dict>
	<key>Devices</key>
	<dict>
		<key>Audio</key>
		<dict>
			<key>AFGLowPowerState</key>
			<false/>
			<key>ResetHDA</key>
			<false/>
		</dict>
		<key>Properties</key>
		<dict>
			<key>PciRoot(0)/Pci(0x02,0)</key>
			<dict>
				<key>## patch0</key>
				<string>开机鼠标卡顿</string>
				<key>## patch1</key>
				<string>Enable internal display after sleep for 0x0a2e000a, 0x0a26000a</string>
				<key>##### 开启128M DVMT-prealloc，外接4k显示器需要，但是内置屏幕会狂闪</key>
				<string>0</string>
				<key>#####framebuffer-fbmem</key>
				<data>
				AAAAAg==
				</data>
				<key>#####framebuffer-stolenmem</key>
				<data>
				AAAACA==
				</data>
				<key>####framebuffer-fbmem</key>
				<data>
				AAAAAw==
				</data>
				<key>####framebuffer-stolenmem</key>
				<data>
				AAAABg==
				</data>
				<key>###framebuffer-fbmem</key>
				<data>
				AACQAA==
				</data>
				<key>###framebuffer-stolenmem</key>
				<data>
				AABgAA==
				</data>
				<key>#hda-gfx</key>
				<string>onboard-1</string>
				<key>AAPL,ig-platform-id</key>
				<data>
				BgAmCg==
				</data>
				<key>AAPL00,override-no-edid</key>
				<data>
				AP///////wAGrz0UAAAAAAAXAQSVHxF4Arv1lFVUkCcj
				UFQAAAABAQEBAQEBAQEBAQEBAQEBsDaASnE4NEAwIDUA
				Na0QAAAYAAAADwAAAAAAAAAAAAAAAAAgAAAA/gBBVU8K
				ICAgICAgICAgAAAA/gBCMTQwSFROMDEuNCAKAOY=
				</data>
				<key>device-id</key>
				<data>
				EgQAAA==
				</data>
				<key>enable-hdmi20</key>
				<data>
				AQAAAA==
				</data>
				<key>framebuffer-con1-enable</key>
				<integer>1</integer>
				<key>framebuffer-con1-flags</key>
				<data>
				BgAAAA==
				</data>
				<key>framebuffer-con1-pipe</key>
				<data>
				EgAAAA==
				</data>
				<key>framebuffer-con1-type</key>
				<data>
				AAgAAA==
				</data>
				<key>framebuffer-cursormem</key>
				<data>
				AACQAA==
				</data>
				<key>framebuffer-patch-enable</key>
				<integer>1</integer>
				<key>framebuffer-patch0-enable</key>
				<integer>1</integer>
				<key>framebuffer-patch0-find</key>
				<data>
				AgQJAAAEAACHAAAA
				</data>
				<key>framebuffer-patch0-replace</key>
				<data>
				/wAJAAAEAACHAAAA
				</data>
				<key>framebuffer-patch1-enable</key>
				<integer>1</integer>
				<key>framebuffer-patch1-find</key>
				<data>
				AQAAAEAAAAAeAgAABQUJAQ==
				</data>
				<key>framebuffer-patch1-replace</key>
				<data>
				AQAAAEAAAAAfAgAABQUJAQ==
				</data>
				<key>framebuffer-patch2-enable</key>
				<data>
				AQAAAA==
				</data>
				<key>framebuffer-patch2-find</key>
				<data>
				AwAiDQADAwMAAAACAAAwAQAAAAAAAABgmRQ=
				</data>
				<key>framebuffer-patch2-replace</key>
				<data>
				AwAiDQADAwMAAAAIAAAAAgAAAAAAAACAmRQ=
				</data>
				<key>framebuffer-unifiedmem</key>
				<data>
				AAAAgA==
				</data>
				<key>model</key>
				<string>Intel HD Graphics 4600</string>
			</dict>
			<key>PciRoot(0)/Pci(0x14,0)</key>
			<dict>
				<key>#Comment</key>
				<string>Intel xHCI</string>
				<key>AAPL,current-available</key>
				<integer>2100</integer>
				<key>AAPL,current-extra</key>
				<integer>2200</integer>
				<key>AAPL,current-extra-in-sleep</key>
				<integer>1600</integer>
				<key>AAPL,max-port-current-in-sleep</key>
				<integer>2100</integer>
				<key>RM,disable_FakePCIID</key>
				<integer>1</integer>
				<key>subsystem-id</key>
				<data>
				cHIAAA==
				</data>
				<key>subsystem-vendor-id</key>
				<data>
				hoAAAA==
				</data>
			</dict>
			<key>PciRoot(0)/Pci(0x1a,0)</key>
			<dict>
				<key>#Comment</key>
				<string>Intel EHCI #2</string>
				<key>AAPL,current-available</key>
				<integer>2100</integer>
				<key>AAPL,current-extra</key>
				<integer>2200</integer>
				<key>AAPL,current-extra-in-sleep</key>
				<integer>1600</integer>
				<key>AAPL,max-port-current-in-sleep</key>
				<integer>2100</integer>
				<key>subsystem-id</key>
				<data>
				cHIAAA==
				</data>
				<key>subsystem-vendor-id</key>
				<data>
				hoAAAA==
				</data>
			</dict>
			<key>PciRoot(0)/Pci(0x1d,0)</key>
			<dict>
				<key>#Comment</key>
				<string>Intel EHCI #1</string>
				<key>AAPL,current-available</key>
				<integer>2100</integer>
				<key>AAPL,current-extra</key>
				<integer>2200</integer>
				<key>AAPL,current-extra-in-sleep</key>
				<integer>1600</integer>
				<key>AAPL,max-port-current-in-sleep</key>
				<integer>2100</integer>
				<key>subsystem-id</key>
				<data>
				cHIAAA==
				</data>
				<key>subsystem-vendor-id</key>
				<data>
				hoAAAA==
				</data>
			</dict>
			<key>PciRoot(0)/Pci(0x1f,0)</key>
			<dict>
				<key>#Comment</key>
				<string>Intel LPC</string>
				<key>compatible</key>
				<string>pci8086,8c4b</string>
			</dict>
		</dict>
		<key>USB</key>
		<dict>
			<key>AddClockID</key>
			<false/>
			<key>FixOwnership</key>
			<false/>
			<key>HighCurrent</key>
			<false/>
			<key>Inject</key>
			<false/>
		</dict>
		<key>UseIntelHDMI</key>
		<false/>
	</dict>
	<key>GUI</key>
	<dict>
		<key>Hide</key>
		<array>
			<string>LRS_ESP</string>
			<string>WINRE_DRV</string>
			<string>Preboot</string>
		</array>
		<key>Mouse</key>
		<dict>
			<key>DoubleClick</key>
			<integer>500</integer>
			<key>Enabled</key>
			<false/>
			<key>Mirror</key>
			<false/>
			<key>Speed</key>
			<integer>5</integer>
		</dict>
		<key>Scan</key>
		<dict>
			<key>Entries</key>
			<true/>
			<key>Legacy</key>
			<false/>
			<key>Linux</key>
			<false/>
			<key>Tool</key>
			<false/>
		</dict>
		<key>ScreenResolution</key>
		<string>1920x1080</string>
		<key>Theme</key>
		<string>lenovo</string>
	</dict>
	<key>Graphics</key>
	<dict>
		<key>Inject</key>
		<dict>
			<key>ATI</key>
			<false/>
			<key>Intel</key>
			<false/>
			<key>NVidia</key>
			<false/>
		</dict>
		<key>NvidiaSingle</key>
		<false/>
	</dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>AppleIntelCPUPM</key>
		<true/>
		<key>AppleRTC</key>
		<true/>
		<key>KernelLapic</key>
		<true/>
		<key>KernelPm</key>
		<true/>
		<key>KernelToPatch</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>MSR 0xE2 _xcpm_idle instant reboot(c) Pike R. Alpha</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				ILniAAAADzA=
				</data>
				<key>Replace</key>
				<data>
				ILniAAAAkJA=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Disable panic kext logging on 10.13 release kernel (credit vit9696)</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				igKEwHRE
				</data>
				<key>MatchOS</key>
				<string>10.13.x</string>
				<key>Replace</key>
				<data>
				igKEwOtE
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Disable panic kext logging on 10.14 release kernel (credit vit9696)</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				igKEwHRC
				</data>
				<key>MatchOS</key>
				<string>10.14.x</string>
				<key>Replace</key>
				<data>
				igKEwOtC
				</data>
			</dict>
		</array>
		<key>KextsToPatch</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>External icons patch</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				RXh0ZXJuYWw=
				</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>AppleAHCIPort</string>
				<key>Replace</key>
				<data>
				SW50ZXJuYWw=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>IOAHCIBlockStorage, Apple SSD</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				AEFQUExFIFNTRAA=
				</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>IOAHCIBlockStorage</string>
				<key>Replace</key>
				<data>
				AAAAAAAAAAAAAAA=
				</data>
			</dict>
			<dict>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				AIXAD4SHAAAASQ==
				</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>10.15</string>
				<key>Replace</key>
				<data>
				AIXAkJCQkJCQSQ==
				</data>
			</dict>
		</array>
	</dict>
	<key>RtVariables</key>
	<dict>
		<key>BooterConfig</key>
		<string>0x28</string>
		<key>CsrActiveConfig</key>
		<string>0x3ff</string>
		<key>MLB</key>
		<string></string>
		<key>ROM</key>
		<string></string>
	</dict>
	<key>SMBIOS</key>
	<dict>
		<key>BiosReleaseDate</key>
		<string>10/18/13</string>
		<key>BiosVendor</key>
		<string>Apple Inc.</string>
		<key>BiosVersion</key>
		<string>MBP112.88Z.0138.B02.1310181745</string>
		<key>Board-ID</key>
		<string>Mac-3CBD00234E554E41</string>
		<key>BoardManufacturer</key>
		<string>Apple Inc.</string>
		<key>BoardSerialNumber</key>
		<string>C00100700PPDMT32M</string>
		<key>BoardType</key>
		<integer>10</integer>
		<key>BoardVersion</key>
		<string>MacBookPro11,2</string>
		<key>ChassisAssetTag</key>
		<string>MacBook-Aluminum</string>
		<key>ChassisManufacturer</key>
		<string>Apple Inc.</string>
		<key>ChassisType</key>
		<string>8</string>
		<key>Family</key>
		<string>MacBook Pro</string>
		<key>LocationInChassis</key>
		<string>Part Component</string>
		<key>Manufacturer</key>
		<string>Apple Inc.</string>
		<key>Mobile</key>
		<true/>
		<key>ProductName</key>
		<string>MacBookPro11,2</string>
		<key>SerialNumber</key>
		<string>C02LJBD0FD56</string>
		<key>Trust</key>
		<true/>
		<key>Version</key>
		<string>1.0</string>
	</dict>
	<key>SystemParameters</key>
	<dict>
		<key>InjectKexts</key>
		<string>Detect</string>
		<key>InjectSystemID</key>
		<true/>
	</dict>
</dict>
</plist>
